<h2 class="component-heading">LIST OF USERS</h2>
<!-- 
{
	"gender": "female",
	"name": {
		"title": "Miss",
		"first": "Lily",
		"last": "Grant"
	},
	"location": {
		"street": {
			"number": 9297,
			"name": "George Street"
		},
		"city": "Celbridge",
		"state": "Limerick",
		"country": "Ireland",
		"postcode": 56964,
		"coordinates": {
			"latitude": "20.1587",
			"longitude": "162.5234"
		},
		"timezone": {
			"offset": "-3:00",
			"description": "Brazil, Buenos Aires, Georgetown"
		}
	},
	"email": "lily.grant@example.com",
	"login": {
		"uuid": "a535e338-873e-49e7-8226-50f76b75e273",
		"username": "happyfrog128",
		"password": "bull",
		"salt": "Dm6M4DHk",
		"md5": "56517ed6f42868918e10fc586bbb6c49",
		"sha1": "3c23fa64acad51f42a3b72512455a19c41894f43",
		"sha256": "30edc9f3040e40d0900fdb031f5025a32a48a067a9d8b567911cdac62d2e51bc"
	},
	"dob": {
		"date": "1996-11-01T19:32:17.949Z",
		"age": 25
	},
	"registered": {
		"date": "2010-10-08T23:02:53.802Z",
		"age": 11
	},
	"phone": "061-438-1420",
	"cell": "081-970-2052",
	"id": {
		"name": "PPS",
		"value": "0135508T"
	},
	"picture": {
		"large": "https://randomuser.me/api/portraits/women/38.jpg",
		"medium": "https://randomuser.me/api/portraits/med/women/38.jpg",
		"thumbnail": "https://randomuser.me/api/portraits/thumb/women/38.jpg"
	},
	"nat": "IE"
},
 -->
<div class="users-table-container">
	<table class="users-table">
		<thead>
			<tr>
				<th>No</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let user of usersList; let i = index"
				[routerLink]="['/user-details', i + 1]"
			>
				<td>{{ i + 1 }}</td>
				<td>{{ user.name.first }}</td>
				<td>{{ user.gender }}</td>
				<td>{{ user.location.country }}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- swapnil.g@mantralabsglobal.com -->
